.body {
  border: 1px solid #000;
  border-radius: 24px;
  padding: 16px;
}

.memesContainer {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 24;
}
.memesImage {
  border-radius: 16px;
  object-fit: contain;
  width: 350px;
  aspect-ratio: 1 1;
}
